@font-face {
  font-family: 'BrandNewRomanC';
  src: url('BrandNewRomanC.eot');
  src: url('BrandNewRomanC.woff2') format('woff2'),
       url('BrandNewRomanC.woff') format('woff'),
       url('BrandNewRomanC.ttf') format('truetype'),
       url('BrandNewRomanC.svg#BrandNewRomanC') format('svg'),
       url('BrandNewRomanC.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

